Actual file name must be config-dev.json.

{
    "log": {
        "targets": [
            "console",
            "file"
        ],
        "maxSize": 1048576,
        "backups": 100
    },
    "serverPport": 8080,
    "site": {
        "protocol": "http",
        "domain": "localhost:8080",
        "pathPrefix": "",
        "dateFormat": "MM/DD/YYYY HH:mm:ss",
        "timeOffset": 0
    },
    "maxProxyFail": 1
}
