Actual file name must be config-dev.json.

{
    "serverPport": 8080,
    "site": {
        "protocol": "http",
        "domain": "localhost:8080",
        "pathPrefix": "",
        "dateFormat": "MM/DD/YYYY HH:mm:ss",
        "timeOffset": 0
    },
    "maxProxyFail": 1,
    "captcha": {
        "google-recaptcha-v1": {
            "key": "Your 2captcha.com key"
        }
    }
}
