<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{{#def.head}}
<body class="mobile" data-site-path-prefix="{{=it.site.pathPrefix}}">
<div class="theTitle">
    <h1>
        wipe.js
    </h1>
</div>
<div id="tasks"></div>
<div>
    <button onclick="lord.addTask(); return false;">Add task</button>
</div>
</body>
</html>
